figure.px-1b.pb-2b
  img(
    src='media/metamodern-logo.svg'
    alt='Metamodern open source'
  )

div(class=`
  pt-half-b
  border-t-1
  border-light-blue-purple
  text-lighter
`)
  p(class=`
    px-1b
    pb-1b
    font-bold
    text-lg
    leading-lg-narrow
  `)= 'Design System'
  
  p(class=`
    font-barlow-semi
    font-medium
    text-sm
    leading-sm-narrow
  `)= 'An approach to layout, typography & color with TailwindCSS'
