figure.max-w-5c.mx-auto.p-2b
  img(
    src='media/metamodern-logo.svg'
    alt='The Metamodern Design logo'
  )

.text-lighter
  p(class=`
    pb-1b
    font-extrabold
    text-xl
  `)
    | Metamodern
  
  p(class=`
    font-barlow-semi
    font-semibold
    leading-sm-narrow c17_leading-base-narrow
  `)
    | Design System
