figure.max-w-4c.mx-auto.py-1b
  img(
    src='media/metamodern-logo.svg'
    alt='The Metamodern Design logo'
  )

.text-lighter.text-center
  p(class=`
    px-2b
    pb-1b
    font-extrabold
    text-xl
    leading-xl-narrow
  `)
    | Metamodern Design
  
  p(class=`
    font-barlow-semi
    font-semibold
    leading-sm-narrow c17_leading-base-narrow
  `)
    | Layout, typography &amp; color system for TailwindCSS
