figure.max-w-2c.py-1b
  img(
    src='media/metamodern-logo.svg'
    alt='The Metamodern Design logo'
  )

.text-lighter
  p(class=`
    px-2b
    pb-1b
    font-extrabold
    text-xl
    leading-xl-narrow
  `)
    | Docs @ Metamodern
  
  p(class=`
    font-barlow-semi
    font-semibold
    leading-sm-narrow c17_leading-base-narrow
  `)
    | Design System: An approach to layout, typography &amp; color
    | with TailwindCSS
