div(class=`
  flex
  items-center
  max-w-5c
  h-4b
  mb-2b
`)
  figure
    img(
      src='media/metamodern-logo.svg'
      alt='Metamodern open source'
    )

.text-light
  p(class=`
    mb-half-b
    font-bold
    text-lg
    leading-lg-narrow
  `)= 'Design System'
  
  p(class=`
    font-barlow-semi
    font-medium
    text-sm
    leading-sm-narrow
  `)= 'An approach to layout, typography & color with TailwindCSS'
