div(class=`
  flex
  items-center
  h-6b
  px-1b
`)
  figure
    img(
      src='media/metamodern-logo.svg'
      alt='Metamodern open source'
    )

div(class=`
  px-1b
  pt-half-b
  border-t-1
  border-light-blue-purple
  text-lighter
`)
  p(class=`
    pb-half-b
    font-bold
    text-lg
    leading-lg-narrow
  `)= 'Design System'
  
  p(class=`
    font-barlow-semi
    font-medium
    text-sm
    leading-sm-narrow
  `)= 'An approach to layout, typography & color with TailwindCSS'
