figure.pb-2b
  img(
    src='media/metamodern-logo.svg'
    alt='Metamodern open source'
  )

.text-lighter
  p(class=`
    pb-1b
    font-extrabold
    text-lg c17_text-xl
  `)= 'Design System'
  
  p(class=`
    font-barlow-semi
    font-semibold
    leading-sm-narrow c17_leading-base-narrow
  `)= 'An approach to layout, typography & color with TailwindCSS'
