include /_mixins/index.pug


header#pageHeader(class=`
  w-screen c11_w-full
  pt-3b c11_pt-2b c17_pt-3b
  c11_pb-4b
`)
  div(class=`
    max-w-5c
    px-1b
    pb-2b c17_pb-3b
    mb-half-b
  `)
    figure
      img(
        src='media/metamodern-logo.svg'
        alt='Metamodern open source'
      )
  
  p(class=`
    px-1b
    -mt-half-b
    text-lighter-blue-purple
    font-semibold
    text-lg c17_text-xl
    leading-lg
  `)= 'Design System'
  
  p(class=`
    px-1b
    pb-2b c17_pb-3b
    c17_-mb-half-b
    text-lighter-blue-purple
    font-barlow-semi-condensed
    text-sm c17_text-base
    leading-sm-narrow c17_leading-base-narrow
  `)= 'An approach to layout, typography & color with TailwindCSS'

  nav#pageNav(class=`
    w-screen c11_w-full
    c17_px-1b
  `)
    +vTablist('blue-purple')
