include /_mixins/index.pug


header#pageHeader(class=`
  w-screen c11_w-full
  pt-4b
  c11_pb-4b
`)
  div(class=`
    flex
    items-center
    max-w-5c
    px-1b
    pb-3b
    mb-half-b
  `)
    figure
      img(
        src='media/metamodern-logo.svg'
        alt='Metamodern open source'
      )
  
  div(class=`
    px-1b
    pb-2b
    c17_mb-half-b
    text-lighter-blue-purple
  `)
    p(class=`
      font-semibold
      text-lg c17_text-xl
      leading-lg
    `)= 'Design System'
    
    p(class=`
      font-barlow-semi-condensed
      text-sm c17_text-base
      leading-sm-narrow c17_leading-base-narrow
    `)= 'An approach to layout, typography & color with TailwindCSS'

  nav#pageNav(class=`
    w-screen c11_w-full
    c17_px-1b
  `)
    +vTablist('blue-purple')
