include /_mixins/index.pug


+tabpanel('5', routes[5].label)
  section
    h2#responsive-design= 'Responsive Design'
    
    != content.layoutResponsiveDesign
    
    p.mb-half-b
      +label('c11 → 704px (tablet+)')

    p
      +label('c17 → 1088px (laptop+)')
