include /_mixins/label.pug
include /_mixins/lede.pug
include /_mixins/level.pug
include /_mixins/tabpanel.pug
include /_mixins/toc.pug


+tabpanel('2', routes[2].label)
  section
    +toc()
      != content.typographyToc
  
  section  
    +lede()
