include /_mixins/label.pug
include /_mixins/lede.pug
include /_mixins/level.pug
include /_mixins/tabpanel.pug
include /_mixins/toc.pug


+tabpanel('2', routes[2].label)
  section
    +toc()
      != content.typographyToc
  
  section  
    +lede()
    
    h2#size= 'Size'
    
    h2#leading= 'Leading'
    
    h2#family= 'Family'
    
    h2#weight= 'Weight'
