include /_mixins/index.pug


+tabpanel('3', routes[3].label)
  +toc()
    != content.bordersToc

  +lede()
    != content.bordersLede
    
  section
    h2#width= 'Width'
    
    .mb-2b
      != content.bordersWidth
    
    each i in [1, 2, 3, 4, 5, 6, 7, 8]
      +level()
        .w-2c.h-1b
          div(class=`
            w-full
            h-1b
            border-dark
            border-t-${i}
          `)
        
        +label(`border-${i}`)
    
  section
    h2#radius= 'Radius'
    
    != content.bordersRadius
