include /_mixins/index.pug


+tabpanel('5', routes[5].label)
  +lede()
    != content.responsiveDesignLede
    
  section
    p.mb-half-b
      +label('c11 → 704px (tablet+)')

    p
      +label('c17 → 1088px (laptop+)')
      
    .mb-2b
      != content.responsiveDesignDetails
