include /_mixins/index.pug


+tabpanel('5', routes[5].label)
  +lede()
    != content.responsiveDesignLede
    
  section
    p.mb-half-b
      +label('c11 → 704px (tablet in portrait)')

    p.mb-half-b
      +label('c17 → 1088px (tablet in landscape)')
      
    p.mb-half-b
      +label('c21 → 1344px (laptop and larger)')
      
    .mb-2b
      != content.responsiveDesignDetails
