mixin rounded(size, classes='')
  .flex
    div(class=`
      flex
      items-center
      justify-center
      w-5c
      h-5c
      rounded-${size}
      bg-medium-dark-blue-green
      ${classes}
    `)
      code.text-white.font-bold.text-sm
        block