mixin rounded(size, classes='')
  .flex
    div(class=`
      flex
      items-center
      justify-center
      w-5c
      h-5c
      border-2
      border-dark
      rounded-${size}
      ${classes}
    `)
      code.font-bold.text-sm
        block