mixin tabpanel(id, heading)
  div(
    id=`main-tabpanel-${id}`
    role='tabpanel'
    aria-labelledby=`nav-tab-${id}`
  )
    h1(class=`
      px-1b
      unstyled
      font-extrabold
      text-lg c17_text-xl
      leading-xl-wide
      mb-half-b c17_mb-one-and-half-b
    `)= heading

    div(class=`
      px-1b
      typeset
    `)
      block
