/* A CONTAINER FOR PAGE CONTENT TO THE RIGHT OF THE SIDEBAR */
/* REPLACES TAILWIND'S RESPONSIVE CONTAINER */

.container
  @apply w-full
  @apply max-w-10c
  @apply mx-auto


@screen c11
  .container
    @apply max-w-full
    @apply mx-0
    @apply pr-1b
    padding-left: 21rem

@screen c17
  .container
    padding-left: calc(50vw - 8rem)
    padding-right: calc(50vw - 32rem)
